name: build

on:
  push:
    tags:
      - v*.*.*

jobs:
  create-release:
    uses: JovialKnoll/workflows/.github/workflows/create-release.yml@master

  build-python:
    uses: JovialKnoll/workflows/.github/workflows/build-python.yml@master
    needs: create-release
    with:
      project_name: chikkai
      python_version: '3.14'
      upload_url: ${{ needs.create-release.outputs.upload_url }}

  upload-butler:
    uses: JovialKnoll/workflows/.github/workflows/upload-butler.yml@master
    needs: build-python
    with:
      itch_user: jovialknoll
      project_name: chikkai
      release_asset_url_ubuntu_latest: ${{ needs.build-python.outputs.release_asset_url_ubuntu_latest }}
      release_asset_url_macos_latest: ${{ needs.build-python.outputs.release_asset_url_macos_latest }}
      release_asset_url_windows_latest: ${{ needs.build-python.outputs.release_asset_url_windows_latest }}
    secrets:
      BUTLER_API_KEY: ${{ secrets.BUTLER_API_KEY }}
